<html lang = "en">
    <head>
        <meta charset = "UTF -8">
        <META name="viewport" content = "width = device -width , initial-scale=1.0"
        <link rel="stylesheet" href="estilos.css">
    </head>

<head>
    <body>
        <h1>Metadata Cleaner:  PDF   PNG   JPG</h1>
        <p>
            <h6>
                <i>
                la idea es que el usuario pueda subir un
                archivo tipo png jpg o png al servidor,
                el servidor lo descargue y luego retorne un link
                a un archivo igual pero sin sus correspondientes
                metadatos , tendría sentido solamente guardar las
                cosas asi pero como estoy en el curso de bases de datos
                tambien tengo que guardar algunos datos del archivo que
                estoy recibiendo
                </i>
            </h6>
        </p>

        <!-- lista de los elementos que puedo expandir luego -->
        <ol>
            <li> <a href="pdf">PDF</a></li>

            <li> <a href="jpg">JPG</a></li>

            <li><a href="png">PNG</a></li>
        </ol>


    </body>
</head>
